@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 51, 65, 85; /* Slate-700 */
  --background-start-rgb: 241, 245, 249; /* Slate-100 */
  --background-end-rgb: 241, 245, 249; /* Slate-100 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
